.container_Fresh_life {
  background: #f9f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container_Fresh_life__header {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  width: 127px;
  height: 52px;
  margin-left: 13%;
}

nav {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: Raleway;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav a {
  text-decoration: none;
  color: #262626;
  padding: 9px;
}

nav a:hover {
  border-top: 3px solid #ff6033;
}

.nav-hiden {
  display: none;
}

#menu_checkbox {
  display: none;
}

.toggle-button {
  margin-right: 40px;
  cursor: pointer;
}

.toggle-button:after {
  content: attr(data-open);
  font-size: 20px;
}

.section_Fresh-life {
  margin-top: 20%;
  margin-left: 10%;
  width: 370px;
  display: block;
}

.section_Fresh-life h1 {
  color: #262626;
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 600;
}

.section_Fresh-life p {
  margin-bottom: 35px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
}

.section_Fresh-life a {
  background-color: #ff6033;
  padding: 20px 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 420px) {
  .section_Fresh-life {
    width: 80%;
  }
}

@media screen and (min-width: 300px) and (max-width: 1149px) {
  #scroll {
    margin-top: 30%;
    margin-bottom: 7%;
    margin-right: 50%;
    margin-left: 50%;
  }
}

@media screen and (min-width: 1150px) {
  #scroll {
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 50%;
  }
}

@media screen and (min-width: 640px) {
  .container_Fresh_life {
    background-image: url(../img/1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
  }
  .container_Fresh_life nav {
    margin-right: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container_Fresh_life nav .toggle-button {
    display: none;
  }
  .container_Fresh_life nav .nav-hiden {
    display: block;
  }
}

.about-us_background {
  background: #00c4c4;
  width: 100%;
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#about-us .about-us {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#about-us h1 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
}

#about-us p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 34px;
  color: #ffffff;
}

#about-us img {
  width: 100%;
}

@media screen and (min-width: 1135px) {
  #about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-us img {
    margin-left: 11%;
    margin-top: 70px;
  }
  #about-us .about-us {
    margin-right: 11%;
  }
  #about-us .about-us h1 {
    margin-bottom: 34px;
    font-size: 90px;
    font-weight: 700;
  }
}

#our-services {
  background-color: #70bfff;
  width: 100%;
}

#our-services .title-and-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  #our-services .title-and-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#our-services .tomato {
  margin-top: 8%;
  margin-bottom: 8%;
  height: 400px;
  width: 70%;
  background-image: url(../img/3tomatos.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 769px) {
  #our-services .tomato {
    width: 75%;
  }
}

@media screen and (min-width: 1400px) {
  #our-services .tomato {
    width: 100% auto;
    height: 600px;
  }
}

#our-services .tomato h1 {
  margin: 30px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: black 0 0 2px;
}

@media screen and (min-width: 769px) {
  #our-services .tomato h1 {
    font-size: 90px;
  }
}

.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .our-services {
    margin-left: 17%;
  }
}

.servise-button {
  margin-bottom: 20px;
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 769px) {
  .servise-button {
    width: 400px;
  }
}

.servise-button:nth-of-type(1) {
  background-image: url(../img/3icon_1.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(2) {
  background-image: url(../img/3icon_2.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(3) {
  background-image: url(../img/3icon_3.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(4) {
  background-image: url(../img/3icon_4.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .button-text {
    border-right: 1px solid #9d9d9d;
  }
}

p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  text-align: center;
}

#gallery {
  background-color: #ffe92f;
}

#gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery .gallery-container .gallery-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 38%;
}

@media screen and (max-width: 768px) {
  #gallery .gallery-container .gallery-description {
    width: 80%;
  }
}

#gallery .gallery-container .gallery-description h1 {
  color: #262626;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
}

#gallery .gallery-container .gallery-description p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}

#gallery .gallery-container button {
  margin-bottom: 7.8%;
  width: 200px;
  height: 55px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
  border: none;
}

#gallery .gallery-container button a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */