.container_Fresh_life {
  background: #f9f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container_Fresh_life__header {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  width: 127px;
  height: 52px;
  margin-left: 13%;
}

nav {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: Raleway;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav a {
  text-decoration: none;
  color: #262626;
  padding: 9px;
}

nav a:hover {
  border-top: 3px solid #ff6033;
}

.nav-hiden {
  display: none;
}

#menu_checkbox {
  display: none;
}

.toggle-button {
  margin-right: 40px;
  cursor: pointer;
}

.toggle-button:after {
  content: attr(data-open);
  font-size: 20px;
}

.section_Fresh-life {
  margin-top: 20%;
  margin-left: 10%;
  width: 370px;
  display: block;
}

.section_Fresh-life h1 {
  color: #262626;
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 600;
}

.section_Fresh-life p {
  margin-bottom: 35px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
}

.section_Fresh-life a {
  background-color: #ff6033;
  padding: 20px 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 420px) {
  .section_Fresh-life {
    width: 80%;
  }
}

@media screen and (min-width: 300px) and (max-width: 1149px) {
  #scroll {
    margin-top: 30%;
    margin-bottom: 7%;
    margin-right: 50%;
    margin-left: 50%;
  }
}

@media screen and (min-width: 1150px) {
  #scroll {
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 50%;
  }
}

@media screen and (min-width: 640px) {
  .container_Fresh_life {
    background-image: url(../img/1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
  }
  .container_Fresh_life nav {
    margin-right: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container_Fresh_life nav .toggle-button {
    display: none;
  }
  .container_Fresh_life nav .nav-hiden {
    display: block;
  }
}

.about-us_background {
  background: #00c4c4;
  width: 100%;
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#about-us .about-us {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#about-us h1 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
}

#about-us p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 34px;
  color: #ffffff;
}

#about-us img {
  width: 100%;
}

@media screen and (min-width: 1135px) {
  #about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-us img {
    margin-left: 11%;
    margin-top: 70px;
  }
  #about-us .about-us {
    margin-right: 11%;
  }
  #about-us .about-us h1 {
    margin-bottom: 34px;
    font-size: 90px;
    font-weight: 700;
  }
}

#our-services {
  background-color: #70bfff;
  width: 100%;
}

#our-services .title-and-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  #our-services .title-and-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#our-services .tomato {
  margin-top: 8%;
  margin-bottom: 8%;
  height: 400px;
  width: 70%;
  background-image: url(../img/3tomatos.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 769px) {
  #our-services .tomato {
    width: 75%;
  }
}

@media screen and (min-width: 1400px) {
  #our-services .tomato {
    width: 100% auto;
    height: 600px;
  }
}

#our-services .tomato h1 {
  margin: 30px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: black 0 0 2px;
}

@media screen and (min-width: 769px) {
  #our-services .tomato h1 {
    font-size: 90px;
  }
}

.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .our-services {
    margin-left: 17%;
  }
}

.servise-button {
  margin-bottom: 20px;
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 769px) {
  .servise-button {
    width: 400px;
  }
}

.servise-button:nth-of-type(1) {
  background-image: url(../img/3icon_1.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(2) {
  background-image: url(../img/3icon_2.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(3) {
  background-image: url(../img/3icon_3.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.servise-button:nth-of-type(4) {
  background-image: url(../img/3icon_4.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}

.button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .button-text {
    border-right: 1px solid #9d9d9d;
  }
}

p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  text-align: center;
}

#gallery {
  background-color: #ffe92f;
}

#gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery .gallery-container .gallery-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 38%;
}

@media screen and (max-width: 768px) {
  #gallery .gallery-container .gallery-description {
    width: 80%;
  }
}

#gallery .gallery-container .gallery-description h1 {
  color: #262626;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (min-width: 769px) {
  #gallery .gallery-container .gallery-description h1 {
    font-size: 90px;
  }
}

#gallery .gallery-container .gallery-description p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}

#gallery .gallery-container .gallery-images {
  margin-bottom: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2vh;
  width: 80%;
}

@media screen and (min-width: 769px) {
  #gallery .gallery-container .gallery-images {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    row-gap: 1.5vh;
    -webkit-column-gap: 2vh;
            column-gap: 2vh;
  }
  #gallery .gallery-container .gallery-images .images:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  #gallery .gallery-container .gallery-images .images:nth-of-type(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  #gallery .gallery-container .gallery-images .images:nth-of-type(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  #gallery .gallery-container .gallery-images .images:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
  }
  #gallery .gallery-container .gallery-images .images:nth-of-type(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
  }
}

#gallery .gallery-container img {
  width: 100%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#gallery button {
  margin-bottom: 7.8%;
  width: 200px;
  height: 55px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
  border: none;
}

#gallery button a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}

#subscribe {
  width: 100%;
  height: 500px;
  background-image: url(../img/5bg_berries.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#subscribe .subscribe-container {
  padding-left: 11%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#subscribe .subscribe-container h1 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
}

@media screen and (max-width: 340px) {
  #subscribe .subscribe-container h1 {
    font-size: 30px;
  }
}

#subscribe .subscribe-container p {
  width: 39%;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
  text-align: left;
}

@media screen and (max-width: 480px) {
  #subscribe .subscribe-container p {
    width: 80%;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  #subscribe .subscribe-container p {
    width: 70%;
  }
}

#subscribe .subscribe-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 900px) {
  #subscribe .subscribe-container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#subscribe .subscribe-container form .input-email {
  width: 570px;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #262626;
  padding-left: 15px;
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  #subscribe .subscribe-container form .input-email {
    width: 275px;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  #subscribe .subscribe-container form .input-email {
    width: 275px;
  }
}

#subscribe .subscribe-container form input::-webkit-input-placeholder {
  opacity: 0.5;
  color: #262626;
  font-size: 15px;
  font-weight: 300;
}

#subscribe .subscribe-container form input:-ms-input-placeholder {
  opacity: 0.5;
  color: #262626;
  font-size: 15px;
  font-weight: 300;
}

#subscribe .subscribe-container form input::-ms-input-placeholder {
  opacity: 0.5;
  color: #262626;
  font-size: 15px;
  font-weight: 300;
}

#subscribe .subscribe-container form input::placeholder {
  opacity: 0.5;
  color: #262626;
  font-size: 15px;
  font-weight: 300;
}

#subscribe .subscribe-container form .input-submit {
  width: 170px;
  height: 55px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  color: #ffffff;
  line-height: 27px;
  text-transform: uppercase;
  font: 300 20px Raleway;
  text-align: center;
}

@media screen and (max-width: 900px) {
  #subscribe .subscribe-container form .input-submit {
    margin-top: 10px;
    width: 70%;
  }
}

#blog {
  background-color: #b07cf7;
  width: 100%;
}

#blog .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .blog-container .blog-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 38%;
}

@media screen and (max-width: 768px) {
  #blog .blog-container .blog-description {
    width: 80%;
  }
}

#blog .blog-container .blog-description h1 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  line-height: 25px;
}

@media screen and (min-width: 769px) {
  #blog .blog-container .blog-description h1 {
    font-size: 90px;
  }
}

#blog .blog-container .blog-description p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
}

#blog .blog-container .blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1170px) {
  #blog .blog-container .blog-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

#blog .blog-container .blog-items .item {
  width: 370px;
  height: 310px;
}

#blog .blog-container .blog-items .item:nth-of-type(1) {
  background-image: url(../img/7smoothy1.png);
  margin-right: 30px;
}

@media screen and (max-width: 1170px) {
  #blog .blog-container .blog-items .item:nth-of-type(1) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

#blog .blog-container .blog-items .item:nth-of-type(2) {
  background-image: url(../img/7green2.png);
  background-position: 60%;
  margin-right: 30px;
}

@media screen and (max-width: 1170px) {
  #blog .blog-container .blog-items .item:nth-of-type(2) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

#blog .blog-container .blog-items .item:nth-of-type(3) {
  background-image: url(../img/7raspberries3.png);
}

#blog .blog-container .blog-items .item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #262626;
  opacity: 0.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .blog-container .blog-items .item .data .number {
  width: 33px;
  height: 23px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  line-height: 25px;
}

#blog .blog-container .blog-items .item .data .month {
  width: 44px;
  height: 15px;
  margin-bottom: 3px;
  color: #ffffff;
  font-family: "Raleway - Heavy";
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

#blog .blog-container .blog-items h1 {
  width: 307px;
  margin: 130px 45px 0px 20px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

#blog .blog-container .blog-items p {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Raleway - Light";
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}

#blog button {
  margin-top: 5%;
  margin-bottom: 7.8%;
  width: 200px;
  height: 55px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  border: none;
}

#blog button a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

#contact {
  background-image: url(../img/8contact.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact .contact-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 38%;
}

@media screen and (max-width: 768px) {
  #contact .contact .contact-description {
    width: 80%;
  }
}

#contact .contact .contact-description h1 {
  color: #262626;
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  line-height: 25px;
}

@media screen and (min-width: 769px) {
  #contact .contact .contact-description h1 {
    font-size: 90px;
  }
}

#contact .contact .contact-description p {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}

@media screen and (min-width: 1440px) {
  #contact .contact .contact-description p {
    width: 50%;
  }
}

#contact .contact .contact-container {
  margin-left: 11%;
  margin-right: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  #contact .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#contact .contact .contact-container form {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 120px;
}

@media screen and (min-width: 992px) {
  #contact .contact .contact-container form {
    margin-right: 11%;
  }
}

#contact .contact .contact-container form input {
  max-width: 500px;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: #00c4c4;
  opacity: 0.5;
  border: none;
}

#contact .contact .contact-container form input:hover {
  background-color: #00c4c4;
  border-left: 5px solid #355b82;
}

#contact .contact .contact-container form input::-webkit-input-placeholder {
  font-size: .75rem;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form input:-ms-input-placeholder {
  font-size: .75rem;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form input::-ms-input-placeholder {
  font-size: .75rem;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form input::placeholder {
  font-size: .75rem;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form textarea {
  max-width: 500px;
  width: 100%;
  height: 250px;
  background-color: #00c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0 0 20px;
  opacity: 0.5;
  border: none;
}

#contact .contact .contact-container form textarea:hover {
  background-color: #00c4c4;
  border-left: 5px solid #355b82;
}

#contact .contact .contact-container form textarea textarea::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form textarea textarea:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form textarea textarea::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form textarea textarea::placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

#contact .contact .contact-container form .contact-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact .contact .contact-container form .contact-information h2 {
  font-family: "Raleway - Bold";
  font-size: 17px;
  font-weight: 700;
}

#contact .contact .contact-container form .contact-information p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

footer {
  width: 100%;
  height: 90px;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  padding-left: 11%;
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
}

footer .made-by {
  padding-right: 11%;
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

footer .made-by span {
  color: #ff2b58;
  font-family: "Raleway - Bold";
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */